/* Empty. Add your own CSS if you like */

.home{
    background: url(images/background2.jpg);
}

.button2{
    border: 3px solid grey;
    background-color: rgba(0,0,0,0.2);
    width: 300px;
    color: rgba(500,500,500,0.6);
    margin-left: 12%;
    margin-top: 3em;
    height: 4em;
    border-radius: 5px;
    font-size: 30px;
  font-weight: 100;
}


.item{
  margin-top: 1em;
  border: 2px solid black;
}

.item a{
  text-decoration: none;
}

.item p{
  font-size:20px;

}

.scroll{

}
